@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  
  }

  .navbar {
    padding: 1rem 0.5rem; 
    width: 80% !important;
  margin: auto !important;
  margin-top: 1rem !important;
  }
 .nav-link{
  margin-left: 25px !important;
 }
  .navbar-brand:hover {
    color: #4B2E1B; 
  }
.navbar-nav {
  background: #D4C3AF;
    border-radius: 66px;
    padding: 10px 35px 10px 35px;
    margin: auto;
}
  .navbar-nav .nav-link {
    color: #5E4533; 
    margin: 0 0.75rem; 
    font-weight: 500;
    padding: 0.5rem 1rem; 
    border-radius: 20px;
    transition: background-color 0.3s;
  }


/* Background text styling */
.bg-text {
  margin: 3rem 0;
  background-color: #FFF6C4;
  padding: 2rem;
  height: 60vh;
  border-radius: 40px;
  text-align: left; /* Center on small screens with media query */
}

/* Heading in background text */
.bg-text h3 {
  font-family: Frank Ruhl Libre;
  font-size: 44px;
  font-weight: 400;
  line-height: 60px;
  color: #551B10;
}

/* List items in background text */
.bg-text li {
  color: #551B10;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 0.4rem;
  text-align: left; /* Center on small screens */
}

/* Image styling */
.bg img {
  width: 90%;
  margin-top: 3rem;
}

/* Button styling */
.bg-text button {
  background-color: #551B10;
  color: white;
  font-family: Frank Ruhl Libre;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  width: 44%;
  margin: 7rem 0 0;
  border: 1px solid #551B10;
  border-radius: 66px;
  padding: 10px 12px;
}

/* Adjustments for small screens */
@media (max-width: 767px) {
  .bg-text {
      height: auto; /* Adjust height to fit content */
      text-align: justify;
      padding: 2rem 1rem;
      min-height: 10vh;
  }

  .bg-text h3 {
      font-size: 29px;
      line-height: 40px;
  }

  .bg-text li {
      font-size: 16px;
      line-height: 24px;
      text-align: justify;
  }

  .bg img {
      width: 100%; /* Full width for better display on small screens */
      margin-top: 1.5rem;
  }
}

/* Adjustments for tablets and small desktops */
@media (min-width: 768px) and (max-width: 992px) {
  .bg-text {
      height: auto;
  }

  .bg-text h3 {
      font-size: 36px;
      line-height: 45px;
  }

  .bg-text li {
      font-size: 16px;
      line-height: 24px;
      text-align: justify;
  }

  .bg img {
      width: 90%;
      margin-top: 2rem;
  }

  .bg-text button {
      width: 50%;
      margin-top: 4rem;
  }
}


.card-content {
  border: 1px solid #D4C3AF;
  border-radius: 44px;
  padding: 2rem;
  margin: 0.9rem 0;
  width: 100%; /* Full width to avoid overflow */
  text-align: left;
}

.card-number h1 {
  color: #551B10;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  margin: 0; /* Remove margin for cleaner layout */
}

.card-content p {
  color: #551B10;
  font-size: 19px;
  font-weight: 600;
  line-height: 36px;
  margin: 10px 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .card-number h1 {
      font-size: 56px;
      line-height: 50px;
  }
  .card-number
  {
    min-height: 10vh;
  }
  .card-content p {
      font-size: 30px;
      line-height: 55px;
  }
}

@media (max-width: 576px) {
  .card-number h1 {
      font-size: 40px;
      line-height: 40px;
  }

  .card-content p {
      font-size: 24px;
      line-height: 34px;
  }
}




.h-text {
    margin: 2.5rem 0;
    background-color: #FFF6C4;
    padding: 2.3rem; 
    border-radius: 40px;
    text-align: left; 
    
  }
  
  .h-text h3 {
    color: #551B10;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    text-align: left; 
  }
  
  .h-text h6 {
    color: #551B10;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    display: flex;
    gap: 1rem;
    margin-bottom: -0.5rem;
  }
  
  .h-text button {
    background-color: #551B10;
    color: white;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    width: 44%;
    margin-top: 2rem;
    border: 1px solid #551B10;
    border-radius: 66px;
    padding: 10px 12px;
  }
  
  .h-text img {
    object-fit: contain;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    
  
    .h-text h3 {
      font-size: 28px; /* Adjust font size */
      line-height: 40px; /* Adjust line height */
      text-align: justify; /* Center text */
    }
  
    .h-text small {
      font-size: 16px; /* Adjust font size */
      line-height: 24px; /* Adjust line height */

    }
  
  
    .h-text button {
      width: 43%; /* Make buttons take up more width on smaller screens */
      margin: 1.5rem 0; /* Adjust margin */
    }
  
    .bg img {
      width: 100%; /* Make image responsive */
      display: block;
      margin: auto;

    }
  }
  
  @media (max-width: 576px) {
    .h-text {
      padding: 1rem; /* Further reduce padding for small devices */
    }
  
    .h-text h3 {
      font-size: 24px; /* Smaller font size for mobile */
      line-height: 36px;
    }
  
    .h-text small {
      font-size: 14px; /* Smaller font size for mobile */
      line-height: 20px;
    }
  }
  

#pack
{
    background-color: #D4C3AF;
    border: 1px solid #D4C3AF;
    border-radius: 66px;
    text-align: center;
    width: 69%;
    padding: 10px;
    display: block;
    margin: auto;
}
.pack-text h1 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 37px;
  font-weight: 500;
  line-height: 55.5px;
  color: #551B10;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Wraps text and image */
}

.pack-text img {
  width: 15%;
  margin-right: 10px; /* Adds spacing between image and text */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .pack-text h1 {
      font-size: 44px;
      line-height: 45px;
  }
  .pack-text
  {
    width: 100%;
  }

  .pack-text img {
      width: 50%;
      margin: 1rem 0;
  }
}

@media (max-width: 576px) {
  .pack-text h1 {
      font-size: 26px;
      line-height: 35px;
  }

  .pack-text img {
      width: 60%; /* Increase image width for better visibility */
  }
  .pack-text
  {
    width: 100%;
    padding: 1rem;
  }
}


/* Vitamin Start */
#vitamin
{
    margin: 2rem 0;
}
.vitamin-text img
{
    width: 25%;
}
.vitamin-text 
{
    border: 1px solid #D4C3AF;
    border-radius: 24px;
    padding: 10px;
    margin: 1rem 0;
}
.vitamin-text h4
{   
   color: #551B10;
font-family: Frank Ruhl Libre;
font-size: 32px;
font-weight: 500;
line-height: 48px;
text-align: left;
margin: 0.9rem 0;
}
.vitamin-text p
{
  color: #551B10;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;

}

/* Media Query for small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .vitamin-text h4 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 600;
  }
  
  .vitamin-text p {
      font-size: 25px;
      line-height: 38px;
      font-weight: 600;
  }
  
  .vitamin-text {
      padding: 8px;
      
  }

  #vitamin {
      margin: 1rem 0;
  }
}

/* Media Query for extra small devices (phones, 576px and up) */
@media (max-width: 576px) {
  .vitamin-text h4 {
      font-size: 20px;
      line-height: 30px;
  }

  .vitamin-text p {
      font-size: 16px;
      line-height: 24px;
  }

  .vitamin-text img {
      width: 40%;
  }
}

/* Media Query for very small devices (extra small phones, 360px and up) */
@media (max-width: 360px) {
  .vitamin-text h4 {
      font-size: 18px;
      line-height: 28px;
  }

  .vitamin-text p {
      font-size: 14px;
      line-height: 22px;
  }

 
}

/* Vitamin End */



/* Team Start */
#team {
    margin: 5rem 0;
  }
  
  .team-text {
    border: 1px solid #D4C3AF;
    border-radius: 40px;
    padding: 1rem;
    min-height: 40vh;
    text-align: center; /* Center text by default */
    margin: 1rem 0;
  }
  
  .team-text img {
    width: 20%;
    display: block;
    margin: auto;
  }
  
  .team-text h4 {
    color: #551B10;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    margin: 0.8rem 0;
  }
  
  .team-text p {
    color: #551B10;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
  }
  
  .team-text h5 {
    color: #551B10;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
    text-align: center;
    margin: 0.9rem;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    #team {
      margin: 3rem 1rem; /* Reduce margin for smaller screens */
    }
  
    .team-text {
      min-height: auto; /* Remove fixed height */
      padding: 1.5rem; /* Adjust padding for smaller devices */
    }
  
    .team-text h4 {
      font-size: 28px; /* Adjust font size */
      line-height: 40px; /* Adjust line height */
    }
  
    .team-text p {
      font-size: 18px; /* Adjust font size */
      line-height: 28px; /* Adjust line height */
    }
  
    .team-text h5 {
      font-size: 16px; /* Adjust font size */
      line-height: 20px;
    }
  
    .all {
      width: 100%; /* Make container full width on smaller screens */
      margin-top: 2rem;
    }
  
    .all h4 {
      font-size: 24px; /* Adjust font size for smaller devices */
      line-height: 36px;
      text-align: center; /* Center text */
    }
  }
  
  @media (max-width: 576px) {
    #team {
      margin: 2rem 0.5rem; /* Further reduce margin for very small devices */
    }
  
    .team-text {
      padding: 1rem; /* Reduce padding */
    }
  
    .team-text h4 {
      font-size: 24px; /* Smaller font size for mobile */
      line-height: 36px;
    }
  
    .team-text p {
      font-size: 16px; /* Smaller font size for mobile */
      line-height: 24px;
    }
  
    .team-text h5 {
      font-size: 14px; /* Smaller font size for mobile */
      line-height: 18px;
    }
  
    .all h4 {
      font-size: 20px; /* Further reduce font size */
      line-height: 30px;
      text-align: center; /* Center text */
    }
  }
  

/* Price Start */
.p-flex img {
  width: 132px;
  height: 196px;
  margin-left: 3rem;
}

/* Container for price cards */
.price-text {
  border: 1px solid #D4C3AF;
  border-radius: 40px;
  padding: 1rem;
  min-height: 95vh;
  text-align: left; /* Center text on small screens */
}

/* Pricing header text */
.price-text h4 {
  background-color: #FC6D31;
  color: #FFFBE4;
  border-radius: 66px;
  border: 1px solid #FFFBE4;
  width: 40%;
  font-family: Frank Ruhl Libre;
  font-size: 25px;
  font-weight: 500;
  line-height: 48px;
  cursor: pointer;
  text-align: center;
}

/* Strikethrough price span */
.price-text span {
  text-decoration: line-through;
}

/* Main heading inside each price card */
.p-flex h3 {
  font-family: Frank Ruhl Libre;
  font-size: 48px;
  font-weight: 400;
  line-height: 55.2px;
  color: #551B10;
}

/* Price list text styling */
.price-list p,
.price-list li,
.price-list h6 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #551B10;
  text-align: justify;
}

/* Adjust for small screens */
@media (max-width: 767px) {
  .p-flex img {
      width: 30%;
      height: auto;

      margin-top: 1rem;
  }

  .price-text {
      min-height: auto;
      padding: 1rem;
      text-align: justify;
  }

  .price-text h4 {
      width: 100%; /* Widen the width on smaller screens */
      font-size: 32px;
  }

  .p-flex h3 {
      font-size: 30px;
      line-height: 40px;
      display: block;
      margin-right: auto;
  }

  .price-list p,
  .price-list li,
  .price-list h6 {
      font-size: 16px;
      line-height: 24px;
      text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .price-text {
      min-height: auto;
  }

  .price-text h4 {
      width: 50%;
      font-size: 24px;
  }

  .p-flex h3 {
      font-size: 36px;
      line-height: 45px;
  }

  .price-list p,
  .price-list li,
  .price-list h6 {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
  }


}
/* Price End */


/* Plan Start */
#plan
{
    margin: 5rem 0;
    text-align: center;
}
.plan-text
{
    border: 1px solid #D4C3AF;
    border-radius: 40px;
    padding: 1rem;
    margin: 1rem 0;
}
.plan-text h4
{
    color: #551B10;
font-family: Frank Ruhl Libre;
font-size: 32px;
font-weight: 500;
line-height: 25px;
text-align: center;
background-color: #D4C3AF;
padding: 1rem;
border-radius: 200px;
width: 70%;
display: block;
margin: auto;
}
.plan-text h3 span
{
    text-decoration: line-through;
    color: #551B10;
    font-family: Frank Ruhl Libre;
font-size: 64px;
font-weight: 400;
line-height: 80px;
}
.plan-text h3
{
color: #FC6D31;
font-family: Frank Ruhl Libre;
font-size: 64px;
font-weight: 400;
line-height: 80px;
text-align: center;
margin-left: 4rem;
}
.plan-text small
{
color: #551B10;
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
}
.plan-text h6
{
   color: #3C4959;
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: center;
}
.plan-text button
{
    background-color: #FC6D31;
    color: #FFFBE4;
    border: 1px solid #FC6D31;
    padding: 1rem;
    width: 60%;
    margin: 1rem 0;
    border-radius: 10px;
    font-family: Frank Ruhl Libre;
font-size: 25px;
font-weight: 700;
line-height: 37.5px;
text-align: center;
}

.plan-text h5
{
   color: #551B10;
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 36px;
text-align: center;
margin: 1rem 0;
}
/* Plan End */

/* Policy Start */
/* styles.css */

/* Background and border styling for the main container */
.satisfaction-banner {
  background-color: #e5d8c0;
  border-radius: 22px;
  width: 100%;
  padding: 20px;
}

/* Styling for the badge image */
.satisfaction-banner img {
  width: 80px;
}

.guarantee-badge {
  max-width: 100px; /* Adjust size as needed */
}

/* Title styling */
.satisfaction-banner .title {
  color: #551B10;
  font-family: Frank Ruhl Libre;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
}

/* Description text styling */
.satisfaction-banner .description {
  color: #551B10;
  font-family: Inter;
  font-size: 24px;
  line-height: 1.5;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .satisfaction-banner {
      flex-direction: column;
      text-align: center;
  }

  /* Center-align and adjust image */
  .satisfaction-banner img {
      margin-bottom: 20px;
      width: 50%;
  }

  /* Font size adjustments for smaller screens */
  .satisfaction-banner .title {
      font-size: 30px;
      line-height: 1.2;
  }

  .satisfaction-banner .description {
      font-size: 20px;
      line-height: 1.4;
  }
  
}

@media (max-width: 576px) {
  .satisfaction-banner .title {
      font-size: 24px;
      line-height: 1.2;
  }

  .satisfaction-banner .description {
      font-size: 18px;
      line-height: 1.4;
  }
}


/* Policy End */

/* styles.css */


/* styles.css */

/* General styling for the accordion container */
.accordion-item.custom-accordion-item {
    background-color: #f6efdf;
    border: 1px solid #e5d8c0;
    border-radius: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

/* Custom styling for accordion buttons */
.accordion-button.custom-button {
    background-color: #f6efdf;
    color: #5a3921;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.accordion-button.custom-button:focus {
    box-shadow: none;
}

.accordion-button.custom-button:not(.collapsed) {
    color: #5a3921;
    background-color: #e5d8c0;
    border-radius: 20px;
}

/* Custom styling for accordion body */
.accordion-body {
    color: #5a3921;
    font-size: 1rem;
    padding: 15px;
    line-height: 1.6;
}

#last
{
    background-color: #D4C3AF;
    min-height: 115vh;
}
/* Custom Header */
.custom-header {
    background-color: #D4C3AF; /* Light beige */
    color: #583a2e; /* Dark brown */
}

.custom-logo {
    font-family: 'Times New Roman', serif;
    font-size: 32px;
    font-weight: bold;
}

.nav-link {
    color: #583a2e;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 15px;
}

.nav-link:hover {
    color: #af8d72; /* Slightly lighter brown */
}

/* Main Section */
.references-section {
    background-color: #D4C3AF;
    border-radius: 20px;
    border: 1px solid white;
}

/* Title */
.references-section h2 {
   color: #551B10;
    font-family: Frank Ruhl Libre;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    
}

/* Reference Links */
.reference-link {
    display: inline-block;
    background-color: #fff;
    color: #583a2e;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #d4c3af;
    border-radius: 10px;
    text-decoration: none;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reference-link a
{
 color: #551B10;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: center;

}

.reference-link:hover {
    background-color: #e8dfd0;
    color: #583a2e;
    text-decoration: none;
}
.link a
{
    color: #551B10;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: center;

}

/* Responsive Styles */
@media (max-width: 768px) {
    .reference-link {
        width: 100%;
        text-align: left;
    }
}


.all-one
{
  background-color: #FFF6C4;
  color: #551B10;
  border-radius: 24px;
}
.all-one h4
{
font-family: Frank Ruhl Libre;
font-size: 32px;
font-weight: 500;
line-height: 48px;
text-align: center;
}
.all-two
{
  background-color: #D4C3AF;
  color: #551B10;
  border-radius: 24px;
  margin-top: 1rem;
}
.all-two h4
{
font-family: Frank Ruhl Libre;
font-size: 32px;
font-weight: 500;
line-height: 48px;
text-align: center;
}
.all-three
{
  background-color: #D4C3AF;
  color: #551B10;
  border-radius: 140px;
  margin: 3rem 0;
  padding: 1.5rem;
}
.all-three h4
{
font-family: Frank Ruhl Libre;
font-size: 32px;
font-weight: 500;
line-height: 32px;
text-align: center;
}
.all-four
{
  background-color: #FFF6C4;
  color: #551B10;
  border-radius: 24px;
  margin-top: 1rem;
}
.all-four h4
{
font-family: Frank Ruhl Libre;
font-size: 32px;
font-weight: 500;
line-height: 55px;
}
.all-five
{
  background-color: #D4C3AF;
  color: #551B10;
  border-radius: 140px;
  margin-top: 1rem;
  padding: 1.5rem;
}
.all-five h4
{
font-family: Frank Ruhl Libre;
font-size: 43px;
font-weight: 500;
line-height: 55px;
color: #551B10;
text-align: center;
}
.all-six
{
  background-color: #FFF6C4;
  color: #551B10;
  border-radius: 24px;
  margin-top: 1rem;
  padding: 24px;
}
.all-six h4
{
font-family: Frank Ruhl Libre;
font-size: 30px;
font-weight: 500;
line-height: 55px;
}